:root {
  --md-primary-fg-color: #065986;
  --md-primary-fg-color--light: #0369a1;
  --md-primary-fg-color--dark: #0a4568;
  --md-accent-fg-color: #0ea5e9;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #065986;
  --md-primary-fg-color--light: #0369a1;
  --md-primary-fg-color--dark: #0a4568;
  --md-accent-fg-color: #0ea5e9;
}
